.home-banner {
  width: 100%;
  height: 615px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/public/cover_image.jpg")
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  color: white;
  line-height: 615px;
  text-transform: uppercase;
}